.scrollreveal-admin .fieldset-wrapper .form-item label {
  display: inline-block;
  vertical-align: top;
  width: 20%;
}
.scrollreveal-admin .fieldset-wrapper .form-item .description {
  margin-left: 20%;
}
.scrollreveal-admin .fieldset-wrapper .form-item.form-type-textarea .description {
  margin-left: 0;
}
.scrollreveal-admin .fieldset-wrapper .form-item.form-item-theme-themes label {
  display: block;
  width: auto;
}
.scrollreveal-admin .fieldset-wrapper .form-item.form-item-theme-themes .description {
  margin-left: 0;
}

