.scrollreveal-admin {
  .fieldset-wrapper {
    .form-item {
      padding: 1rem 0 .25rem 0;
      border-top: 1px solid rgba(120,120,120,.1);
      input, label {
        display: inline-block;
        vertical-align: top;
      }
      label {
        width: 20%;
      }
      .description {
        color: #777;
        margin-left: 20%;
      }
    }
  }
}
